@use '../base/variables' as *;
@use '../base/mixins' as *;

.main_container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 180px;
    margin-bottom: 60px;

    @include media-desktop {
        padding-left: 0;
        padding-right: 0;
    }

    @include media-tablet {
        flex-wrap: wrap;
        gap: 30px;
    }

    .main_cover {
        max-width: 61.29%;

        & p:first-of-type {
            margin-bottom: 15px;
        }

        & p:nth-of-type(2) {
            margin-bottom: 15px;
        }

        @include media-desktop {
            max-width: 55%;
            width: 100%;
        }

        @include media-tablet {
            max-width: 100%;
        }

    }

    .main_cover2 {
        max-width: 33.777%;
        width: 100%;

        @include media-desktop {
            max-width: 41%;
            width: 100%;
        }

        @include media-tablet {
            max-width: 100%;
        }
    }

    .main_title {
        @include text(38px, 700, 1);
        background: $redTextGradient;
        @include webkit-gradient;
        margin-bottom: 28px;
    }

    .main_descr {
        @include text(19px, 400, 30px, $blackColor);
    }

    .main_devider {
        height: 322px;
        width: 4px;
        background-color: $separatorColor;
    }
    
    .inform_block {
        width: 32.777%;
        display: flex;
        flex-direction: column;
        gap: 46px;

        @include media-desktop {
            max-width: 39%;
            width: 100%;
        }

        @include media-tablet {
            max-width: 55%;
            margin-right: auto;
        }

        .inform_item_cover {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        .item_counter {
            @include text(38px, 700, 1);
            background: $redTextGradient;
            @include webkit-gradient;
        }

        .inform_item_desr {
            @include text(16px, 400, 1, $mainColor);
            padding-top: 18px;
        }
    }
}

.team_foto {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    /* height: 438px; */
    overflow: hidden;
    margin-bottom: 60px;

    @include media-desktop {
        max-width: 1024px;
        width: 100%;
    }

    .team_img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        display: block;
    }
}

.achievements_block {
    background-color: $bgColor;

    .achievements_container {
        padding: 0 60px;

        @include media-desktop {
        padding: 0;
        }
    }

    .achievements_title {
        @include text(14px, 700, 1, $mainColor);
        padding: 30px 0;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .achievements_cover {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        gap: 10px;

        @include media-desktop {
            gap: 10px;
        }

        .achievements_item {
            height: 110px;
            max-width: 300px;
            width: 100%;
            background-color: $whiteColor;
            display: flex;
            align-items: center;
            justify-content: center;

            @include media-desktop {
                max-width: 196px;
            }

            @include media-tablet {
                max-width: 132px;
                max-height: 90px;

                img {
                    max-width: 100%;
                    height: 40px;
                }
            }
        }  
    }
}

.circles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-bottom: 30px;

    .circle {
        width: 16px;
        height: 16px;
        background-color: $activeColor;
        border-radius: 50%;
        border: none;
        opacity: 0.2;
        cursor: pointer;

        &:hover {
            background-color: $activeColor;
            opacity: 0.6;
        }
    }

    .circle.active {
        background: $activeColor;
        opacity: 1;
    }
}
