@use '../base/variables' as *;
@use '../base/mixins' as *;

.header_home {

    background-color: $mainColor;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: transparent;

}

.nav  {

    .language_list_home {

        li {

            a {
                color: $whiteColor;
            }

            .language_btn {
                color: $whiteColor;
            }  

        }

    }

    .nav_block_list_home {

        li {

            a {
                color: $whiteColor;
            }

        }

    }

}

.main_home {

    background-color: #323264;

    .container_home {
        padding-inline: 0;
    }

    .main_container_home {
        position: relative;
        min-height: 799px;
        overflow: hidden;

        @include media-tablet {
            min-height: 1024px;
        }

        .main_h-symbol {
            position: absolute;
            top: 0;
            left: 50%;
            width: 697px;
            height: auto;
            max-width: none;

            transform: translateX(-50%);
            z-index: 1;

            @include media-tablet {
                width: 893px;
            }

        }
        
        .main_title_home {
            z-index: 2;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            @include text(38px, 700, 1, $whiteColor);
            text-align: center;
        }

        .main_scroll {
            position: absolute;
            left: 50%;
            bottom: 30px;
            transform: translateX(-50%);
            z-index: 2;

            width: 42px;
            height: 42px;
            border: 2px solid $whiteColor;
            border-radius: 50%;

            display: flex;
            align-items: center;
            justify-content: center;
            
            color: $whiteColor;

            &:hover {
                color: $accentColor;
                border-color: $accentColor;
            }

            svg {
                width: 18px;
                height: 18px;
                padding-top: 3px;
            }
        }
    }
}

.footer_home {

    .footer_home_cover {
        align-items: flex-start;

        @include media-tablet {
            flex-wrap: nowrap;
            align-items: flex-start;
        }

        p {
            margin: 0;
            padding-bottom: 0px;
            white-space: nowrap;
        }

        .footer_contacts_bottom_home li:nth-child(2) {
            flex-shrink: 0;
        }

    }
}










