@use '../base/variables' as *;
@use '../base/mixins' as *;

.container {
    max-width: $container-max;
    margin: 0 auto;

    @include media-desktop {
        padding-inline: $container-padding-desktop;
    }

    @include media-big-tablet {
        padding-inline: 10px;
    }

    @include media-tablet {
        padding-inline: $container-padding-desktop;
        width: 100%;
    }

   

  /*   @include media-mobile {
        padding-inline: $container-padding-mobile;
    } */
}